/*********************************************
 Main home banner customizations
 *********************************************/


/* If you want to add a background image to the home page banner instead of using a solid color.
Just un comment the #banner rule below. */
 #banner {
  background-color: #d8cbc3;
  background-size: cover;
  color: #d8cbc3;

  text-align: center;
  cursor: default;
  padding: 10em 4em 9em 4em;
} 



/* If you want to change the banner button color. The following two css rules use a class called "redbtn".
You can call the class whatever you want, but in order for it to work, it needs to be
added to the button in the index html file as well.*/
#banner .button.redbtn {
  background-color: #cb2027;
  box-shadow: none;
}

#banner .button.redbtn:hover {
  background-color: #cc6a74;
}



/*********************************************
 Write your css customizations below
 *********************************************/

.image-outline{
  border: 1px solid grey !important;
}

.image-shadow{
  box-shadow: 1px 1px 15px grey;
}

.h2{ 
  color: #cb2027;
}
